@import "../../assets/styles/variables";

.root {
  padding: 10px;
  background: $white;

  display: grid;
  align-items: center;
  grid-template-columns: 40px 1fr 30px;
  grid-gap: 5px;

  @media (max-width: 600px) {
    grid-template-columns: 1fr 25px;
  }
}

.title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  color: $black;
}

.id {
  font-weight: 500;
  font-size: 10px;
  line-height: 1;
  color: $gray;
}

.hint {
  padding: 5px;
}
