@import "../../../../assets/styles/variables";

.root {
}

.content {
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 24px;
}

.container {
  padding: 0 24px;
}


.list {
  li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 0;
    padding-right: 0;
  }
}
