.root {
  padding: 70px 36px;

  @media (max-width: 768px) {
    padding: 50px 24px;
  }

  @media (max-width: 425px) {
    padding: 50px 18px;
  }
}

.header {
  display: grid;
  grid-template-columns: 1fr minmax(130px, 150px);
  grid-gap: 10px;
  align-items: center;
}
