@import "../../assets/styles/variables";

.root {
  padding: 10px 12px;
  background: $white;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.14);

  display: grid;
  align-items: center;
  grid-template-columns: 40px 1fr 30px;
  grid-gap: 10px;
}

.title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  color: $black;
}

.id {
  font-weight: 500;
  font-size: 10px;
  line-height: 1;
  color: $gray;
}

.hint {
  padding: 5px;
}
