$light-gray: #e0e0e0;
$light-blue: #E6F4FB;

$white: #FFF;
$black: #000;
$primary: #27CA3D;
$gray: #575757;
$l-gray: #F5F5F5;
$dark-gray: #303030;
$secondary: #F1F1F1;
$danger: #EB1414;

$blue: #1760d5;
$azure: rgba(#40A7E3, 0.2);
$light-azure: rgba(#40A7E3, 0.1);
